{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Log in at Tweetme2</h4>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mb-1">Log in</button>
                </form>
                    <a href="/register/"><button type="submit" class="btn btn-primary btn-block">Register</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
